# 敏感信息
.env
logs/*
outpus/*
.ai/
logs/
.specstory/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
.python-version
src/__pycache__/

# VSCode
.vscode/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
